@import "tailwindcss";

:root {
  --font-mono: "IBM Plex Mono", monospace;
  --font-sans: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #05070f;
  color: #e8eaf0;
  font-family: var(--font-mono);
}

h1, h2, h3, h4 {
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0d1117;
}
::-webkit-scrollbar-thumb {
  background: #3ba4dc44;
  border-radius: 2px;
}
